
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    background-color: #ffcba4;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s ease;
}

.navbar {
    background-color: #a86a38;
    animation: slideInDown 1s ease-out;
}

.navbar-brand, .nav-link {
    color: rgb(255, 102, 153) !important;
    transition: color 0.3s ease;
}

.navbar-brand:hover, .nav-link:hover {
    color: rgb(255, 102, 153) !important;
}


@keyframes slideInDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.banner {
    position: relative;
    height: 100vh;
    background-image: url('pareja.jpeg'); 
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    animation: fadeIn 1.5s ease-in-out;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .container {
    position: relative;
    z-index: 2;
    text-align: center;
    animation: zoomIn 1.5s ease-out;
}

.banner h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.banner p {
    color: #fff;
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.banner .btn {
    padding: 15px 30px;
    font-size: 1.25rem;
    border: none;
    color: #ff3773;
    background-color: #fff;
    transition: background-color 0.3s ease, transform 0.3s ease;
}


@keyframes zoomIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.banner .btn:hover {
    background-color: #f56092;
    transform: scale(1.1);
}


.card {
    background-color: rgb(255, 146, 182);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: none;
    border-radius: 10px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}


@keyframes fadeInUp {
    from {
        transform: translateY(50%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}


@media (max-width: 768px) {
    .banner h1 {
        font-size: 2.5rem;
    }
    .banner p {
        font-size: 1.25rem;
    }
    .banner .btn {
        font-size: 1rem;
        padding: 10px 20px;
    }
}
